@media ( max-width: 1200px)
  .container
    max-width: 960px
  .slider
    &__container
      width: 590px
  .reviews
    padding: 40px 0 60px
  .card
    width: 230px
    height: 230px
@media ( max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .slider
    &__container
      width: 100%
  .newsletter
    padding: 92px 0 93px
  .reviews__slick-slider .slick-arrow 
    top: 45px
  .reviews__slick-slider .slick-prev
    left: 50%
    margin-left: -130px
  .reviews__slick-slider .slick-next
    right: 50%
    margin-right: -130px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      width: 339px
      height: 255px
      margin-bottom: 20px
@media ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    &__container
      height: 300px
  .slick-slider
    height: 300px
  .hotel
    padding-top: 0
    &__slider
      margin-bottom: 20px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px
    &__wrapper
      flex-direction: column
      align-items: start
    &__section-title
      margin-bottom: 37px
    &__search
      width: 100%
  .reviews
    padding: 40px 0 50px
    &__section-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &__slide
      padding: 0 31px 30px
      &::before, &::after
        display: none
  .reviews__slick-slider.slick-initialized.slick-slider
    height: 100%
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      margin-bottom: 40px
  .card
    flex-basis: 47%
@media ( max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-info
      &__description
        max-width: 280px  
  .slider
    &__container
      height: 179px
  .slick-slider
    height: 179px
  .slide
    height: 179px
  .reviews
    &__section-title
      font-size: 18px
      line-height: 23px
      max-width: 245px
      margin: 0 auto 42px
  .card
    width: 100%
    flex-basis: 100%
